:root {
    --background-color: rgba(17, 37, 58, 1);

    --white-main-color: rgba(255, 255, 255, 1);
    --white-submain-color: rgba(255, 255, 255, 0.5);

    --color-link: rgba(245, 246, 248, 1);



    /* HEADER */

    --background-color--main: rgba(254, 114, 84, 0.9);

    --nav-color-white: #FFFFFF;
    --button-header-white: #FFFFFF;
    --title-header-white: #FFFFFF;
    --galery-color: rgba(245, 246, 248, 1);
    --subtitle-heroImg-white: rgba(245, 246, 248, 0.5);

    /*BUTTON*/

    --button--green: rgba(82, 170, 127, 1);
    --button--orange: rgba(244, 113, 82, 1);


    /* EXCLUSIVE */

    --background-color-ex: rgba(254, 114, 84, 0.9);

    /* CARD */

    --background-color-card: rgba(245, 246, 248, 1);
    --background-color-card--secondary: rgba(255, 244, 241, 1);
    --background-color-card--primary:rgba(254, 114, 84, 0.9);


    --color-card-title: rgba(51, 51, 51, 1);
    --color-card-subtitle:  rgba(51, 51, 51, 0.5);

    /* INPUT */

    --color-input: rgba(51, 51, 51, 0.5);


    /* FOOTER */

    --background-color-footer2:rgba(12, 26, 41, 1);
    --background-color-footer: rgba(17, 37, 58, 1);
    --white-color-footer: rgba(255, 255, 255, 1);
    --white-color-subtitle: rgba(255, 255, 255, 0.5);

}